// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.sidebar-account{
    color: white;
    font-size: 20px;

  }
  
  .sidebar-profile{
    color: white;
    font-size: 15px;
  }