.header-top-ul li{
  display: inline;
}

.header_area{
  display: flex;
}
.right_area{
  margin-left: 400px;
}
.center_area{
  width:  100px;
}
.background-photo{
  background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
  width: 100%;
}

.searchbox_area{
display: flex;
}
.searchbox{
  padding-top: 30px;
  position: relative;
  }

.icon{
  position: absolute;
  left:140px ;
}

.user_name{
  width: 100px;
}
.user_info{
 display: flex;
}

.user_icon li{
  color: rgb(255, 255, 255);
  text-decoration:none ;
 }
 
 /*フッター*/
 .footer-box{
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0; 
  display: flex;
}

#footerWrap{
	width:100%;
}
#footer{
	width:100%; /* フッター幅を指定*/
	margin:0 auto;
  background-color: black;
  padding: 30px;
}

#footer p{ 
	color: white;
  text-align: center;
} 
